<!-- {% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NDA</title>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<style>
	.body{
		font-family:cursive;
	}
	.verify{
		width:100%;
		margin-top: 450px;
		margin-left: 500px;

	}
	.verify #sub{
		background:none;
		border:1px solid blue;
		font-size: 30px;
		font-weight: 600;

	}

	</style>
</head>
<body onload="disableSubmit()">

	<div class="verify">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, will abide by the NDA.
<br><br>
	<form action="/nda" method="POST">
		{% csrf_token %}
  	<button type="submit" name="submit" id="submit" value="I Agree NDA" >I Agree</button>
  	<button onclick="window.open('/greeting')" target="_self"> I Disagree </button></br>
	</form>

  <a href="{% static 'mainapp/offer.pdf' %}" download="offer letter"><button>Download</button></a>
</div>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NDA</title>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<style>
	.body{
		font-family:cursive;
	}
	.verify{
		width:100%;
		margin-top: 450px;
		margin-left: 500px;

	}
	.verify #sub{
		background:none;
		border:1px solid blue;
		font-size: 30px;
		font-weight: 600;

	}

	</style>
</head>
<body onload="disableSubmit()">
	<div id="content">

	<center><h2>ATG CONFIDENTIAL  OFFER LETTER  </h2></center>
<center><strong><h3>OFFER OF APPOINTMENT AS AN INTERN  </h3></strong></center>
Dear Mr {{user}},  <br>
It was our pleasure to note your interest and having opportunity to professionally interact with you. Congratulations! Based on our discussions, we are pleased to inform you of your<br>appointment as an intern in our organization based on the following terms and conditions:<br>
		   					1. Designation        Software Engineer Intern ( Full Stack Web Development)
		   					2. Date of Joining    October 11th , 2019
		   					3. Location of Work   Work From Home / Online
		   					4. Compensation       See Table Below
		   				<table style="margin-left:400px;">
		   						<tr>
		   						<th>Salary Components INR</th>
		   						<th></th>
		   					</tr>
		   					<tr>
		   						<th>Fixed </th>
		   						<th>Rs. 1000/month*</th>
		   					</tr>
		   					<tr>
		   						<th>Performance Based Pay</th>
		   						<th>Per major/Minor bug : Rs. 100<br> Feature bug : Rs 180</th>
		   					</tr>
		   				</table>

 * - Minimum work done during every month should include :: 20 minor bugs or 6 feature bugs (Time effort needed - 10-30 hours based on the intern's skills).

As an intern progresses and learns the skills, intern will progress from minor to major to feature bugs. In the first month, intern will mostly work on minor bugs. Hikes will be provided<br>on the offer if intern shows great commitment and zeal to learn and deliver.
If the intern doesn’t work properly and minimum work is not completed, management reserves the right to continue/terminate the internship with/without the pay earned for the work done as per the decision taken by the management.
Intern needs to fix (merge) at least 50 bugs (roughly 8 bugs/month) to finish internship.
<br>
 <center><h2>ATG CONFIDENTIAL  OFFER LETTER </h2></center>  <br>
All entitlements given above are applicable after you have joined ATG. The entitlements are subject to company policies / procedures / guidelines that may be issued / modified from time to time.
This Offer of Appointment is valid for 15 days from the date of this email. You are requested to confirm your acceptance by replying to our e-mail with an acknowledgement (YES, I, (NAME) accept the offer).
In case you fail to communicate your acceptance in writing within 15 days of the date of this email, the Offer shall stand revoked.
By accepting this Offer of Appointment you are accepting all the Terms and Conditions set forth herein and as attached to this Offer of Appointment in various Annexures (Annexed herewith as Annexures 1A and 1B).
We welcome you and look forward to your being a part of ATG Family.
Saurabh Bassi ( Co-Founder / CEO )
ATGWORLD Networks Pvt Ltd (ATG.world)<br>
<center><h2>
 ATG CONFIDENTIAL  OFFER LETTER
<br>ANNEXURE – 1A</h2></center>  <br>
Terms and Conditions of Employment  <br>
1. REPORTING / JOINING  <br>
Your Appointment shall be effective from your Date of Joining.
2. PROBATION  <br>
You will be on probation for a period of 1 (One) months from the date of your joining. However, your probation period can be extended further at the sole discretion of the Company; if your performance / conduct are found to be unsatisfactory. You will continue to be on probation until confirmed in writing.
3. PLACE OF WORK <r>
Your place of work will be as mentioned in the Offer of Appointment. However, your services are transferable to any place within the country or abroad or to any of the ATG’s associate/sister concern or its subsidiary, whether are or as may be established or acquired later on, at the sole discretion of the Company. In case you are transferred to any other location, you will be governed by the terms and conditions of service applicable to the new place of posting / assignment including compensation, leave and holidays, working hours and other related policies. However, if your Offer of Appointment is for internship and place of work in Work From Home, you shall not be asked to transfer your services anywhere.<br>
4. DATA PRIVACY <br>
The Company requires that you shall observe Data Privacy as per Company's regulations/ policy, regarding the processing and protection of any personal information and/or data to which you may have access to in the course of your duties, and shall report any infringement relating to the manner in which personal information or other data is processed to the Company immediately. In the event of any breach of the said undertaking, the Company shall be entitled to take such action against you as per the Company Rules and/or applicable law.
 ATG CONFIDENTIAL  OFFER LETTER  <br>
5. NON DISCLOSURE  <br>
Unless authorized in writing by the Company, you shall not divulge, communicate or pass on any “confidential” information in any form, related to any aspect of the Company to anyone outside the Company.
You acknowledge that the Company owns trade secrets and confidential and proprietary information that are very important to the success of the Company’s business. In addition, the Company has confidential information and assets belonging to other persons (whether individuals, firms, corporations or other entities) that the Company is obligated to keep confidential.
The expression “Confidential Information” refers to all and / or any of the trade secrets and confidential and proprietary information owned by or in the custody of the Company.
You agree that all Confidential Information is the exclusive property of the Company and you will be responsible and will take steps necessary to protect the Confidential Information. You agree that, during your employment and after your employment ends, whatever the reason of such termination, you will not use, reproduce, or disclose any of the Confidential Information, except in the normal course of your job for the Company, or unless an Authorized officer or the Company gives you written permission in advance. You agree to return any Confidential Information (and all copies) in your possession on cessation of your employment with the Company.  <br>
6. PROFESSIONAL ETHICS <br>
You shall not conduct yourself in any manner amounting to breach of confidence reposed in you or inconsistent with the position of responsibility occupied by you. Please deal with the Company’s money, material and documents with utmost honesty, moral and professional ethics.  <br>
7. RESIGNATION / TERMINATION  <br>
You shall give a One Month prior notice to the Company before you can be officially relieved from your work. For Interns whose location is Work For Home, the period is One Week.
<br>

<center><h2> ATG CONFIDENTIAL  OFFER LETTER
<br>ANNEXURE – 1B  </h2></center><br>
This is a summary of working hours, leave and holidays, retiral benefits as may be applicable from time to time including some of the benefits & entitlements. These are subject to change as per applicable laws and/or at Company’s discretion. In case of any clarification please contact Human Resources at your location.
WORKING HOURS
Being an IT/ ITES Company we operate 24x7, The general shift starts at 0800 hours and ends at 1700 hours Monday through Friday with half an hour lunch break. Depending upon the business requirements and exigencies of work you may be deputed in any shifts including night shift as also to any other office / work / project site in which case your working hours / shift working as may be prevalent at such places shall apply on you... You may be required to sign a consent form at the time of joining the Company.
LEAVE AND HOLIDAYS
As per the Company’s policy you will be entitled to 12 days Casual Leave and 25 days of Privilege/ Earned Leaves. These will be pro-rated in case you join any time during the year. The Company also provides 12 festival / public holidays including national holidays, which are announced in advance every year. The holidays vary depending on the location of your job assignment. There will be no leaves and holidays under probation period.
PAYMENT MODE
Payment shall be made to your Bank Account through Online transfer or PayTM. You are required to submit your complete bank details to the hiring HR at the time of joining.</pre>



</div>

	<div id="editor"></div>
	<div class="verify">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, will abide by the NDA.
<br><br>
	<form action="/nda" method="POST">
		{% csrf_token %}
  	<button type="submit" name="submit" id="submit" value="I Agree NDA" >I Agree</button>
  	<button onclick="window.open('/greeting')" target="_self"> I Disagree </button></br>
	</form>

  <a href="{% static 'mainapp/offer.pdf' %}" download="offer letter"><button>Download</button></a>
</div>
<script>
    function generate(){
    	var doc = new jsPDF();

    	 var elementHandler = {
    '#ignorePDF': function (element, renderer) {
    return true;
    }
    };
 var x=document.getElementById("content").innerHTML;
doc.fromHTML(
        x,
        10,
        10,
        {
        'width': 170,'elementHandlers': elementHandler
        });

doc.setFont("times")
doc.setFontSize(30);
doc.save('Offer_Letter.pdf');
    }
</script>
</body>
</html>
